# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual env
venv/
.env

# Logs
*.log

# OS
.DS_Store

# Frontend
node_modules/

# Docker
*.pid

# Testing
.coverage
htmlcov/

# IDE
.vscode/
.idea/